body {
  height: 1400px;
  background-color: rgba(0, 0, 0, 0.3);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.boxing {
  width: 300px;
  height: 200px;
  border: 2px solid black;
  padding: 5px;
  margin: 30px 0 30px 460px;
  text-align: center;
}

.box {
  color: white;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  font-family: sans-serif;
  border: 2px solid black;
}

.box-1 {
  width: 60px;
  background-color: red;
  color: black;
  height: 80px;
}

.box-2 {
  width: 50px;
  background-color: blue;
  color: black;
  height: 60px;
}

.box-3 {
  width: 50px;
  background-color: yellow;
  color: black;
  height: 70px;
}

.box-4 {
  width: 50px;
  background-color: green;
  color: black;
  height: 185px;
}

.div2 {
  width: 100%;
  padding: 10px;
  height: 60px;
  background-color: green;
  font-family: Arial, Helvetica, sans-serif;
  position: fixed;
  border: 3px solid black;
  top: 440px;
  font-size: 20px;
  padding-top: 18px;
  padding-left: 550px;
  color: white;
}

.div2 ~ p {
  padding: 12px;
  background-color: black;
  color: white;
  margin: 0 0 73px 0;
  font-family: Arial, Helvetica, sans-serif;
}

.position-stiky {
  border: 5px solid black;
  position: sticky;
  height: 108px;
  padding-top: 25px;
  border-radius: 5px;
  background-color: brown;
}

.position-stiky div {
  width: 170px;
  height: 50px;
  text-align: center;
  display: inline-block;
  background-color: red;
  border: 2px solid white;
  color: white;
  padding-top: 14px;
  padding-left: 5px;
  border-radius: 10px;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 300px;
}
